:root {
  --text: #212121;
  --background: #ffffff;
  --color-p: #757575;
  --color-but: #2196f3;
  --color-but: #2196f3;
  --active-but: #188ce8;
  --icon-color: #afb1b8;
  --bg-svg: #F5F4FA;
  --bg-color-90: rgba(33, 150, 243, 90%);
  --bg-backdrop: #0000001A;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --input-border: #21212133;
  --color-textarea: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: "roboto";
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

header {
  border-bottom: 1px solid #ececec;
}

p {
  color: var(--color-p);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.footer {
  background-color: #2f303a;
  color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer [href="./index.html"] {
  display: block;
  color: var(--background);
  font-size: 26px;
  line-height: 1;
  font-family: "raleway";
  margin-bottom: 20px;
}

footer [href="mailto:info@devstudio.com"],
[href="tel:+380961111111"] {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: color;
  transition-property: color;
}

footer [href="https://goo.gl/maps/d5CcS2hFM6yTFQRFA"] {
  font-style: normal;
  line-height: 1.7;
  color: var(--background);
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--background);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

ul .footer-link:hover,
ul .footer-link:focus {
  fill: var(--background);
  background-color: var(--color-but);
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socaial-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.footer-email {
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-label {
  cursor: pointer;
  outline: transparent;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2F303A;
  color: var(--background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.footer-label:focus {
  border: 1px solid var(--color-but);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
}

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-cap {
  color: var(--background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.skill__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.skill h2 {
  left: 617px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.skill__item {
  width: 270px;
  display: inline-block;
  gap: 10px;
}
.skill__name {
  line-height: 1.1;
  font-size: 14px;
  margin-bottom: 10px;
}
.skill__description {
  line-height: 1.7;
}
.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.skill__svg {
  background-color: var(--bg-svg);
}
.skill__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-svg);
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.work {
  padding-top: 0;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work__title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
}
.work__section {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.work__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.work__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--background);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  text-transform: uppercase;
}
.work__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team {
  background-color: #f5f4fa;
}
.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team__name {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.team__profession {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 16px;
}
.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--icon-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.team__link:hover, .team__link:focus {
  fill: var(--background);
  background-color: var(--color-but);
}
.team__title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.clients-list {
  width: 170px;
  height: 90px;
}
.clients__title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
}
.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--color-but);
}
ul .clients-link:hover .clients-icon, ul .clients-link:focus .clients-icon {
  fill: var(--color-but);
}
.clients-icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.products {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.products h2 {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  margin: 0 0px 4px 24px;
  letter-spacing: 0.06em;
  color: var(--text);
}
.products .list-products:hover, .products .list-products:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
}
.products li {
  width: 370px;
  letter-spacing: 0.06em;
}

.list-products {
  display: inline-block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.section .list-products:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1215686275), 0px 4px 4px rgba(0, 0, 0, 0.0588235294), 1px 4px 6px rgba(0, 0, 0, 0.1607843137);
}/*# sourceMappingURL=main.css.map */