.products {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  & h2 {
    font-size: 18px;
    line-height: 2;
    text-align: left;
    margin: 0 0px 4px 24px;
    letter-spacing: 0.06em;
    color: var(--text);
  }

  & .list-products:hover,
  & .list-products:focus {
    box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
  }
  
  & li {
    width: 370px;
    letter-spacing: 0.06em;
  }
}


.list-products {
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  
  .section &:hover {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
}
}


